<a href="https://colab.research.google.com/github/nicomasterschool/Beispiel/blob/main/Data_Detective_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##🕵️ Data Detective: Die gestohlene Ming-Vase aus dem chinesischen Museumshaus 🏺✨

####🚨 **Das Verbrechen**

>Am vergangenen Samstag, dem 08. Januar 2025, hat in Berlin eine exklusive Sonderausstellung im Chinesischen Museumshaus stattgefunden. Im Mittelpunkt stand eine besonders wertvolle und seltene Ming-Vase – geschätzter Wert: ca. 3,5 Millionen Euro. 💰 **Zwischen 11:19 und 11:30 Uhr wurde die wertvolle Ming-Vase gestohlen** 🏺💥. Sie befand sich in einem weniger einsehbaren Bereich der Sonderausstellung (Special Exhibit) und war nur durch eine leicht zugängliche Absperrung geschützt. Doch das war erst der Anfang: Genau in diesem Zeitraum kam es zu einem **unerklärlichen Stromausfall** ⚡, der sowohl den Sonderausstellungsbereich als auch Teile der Haupthalle (Main Hall) betraf.


####**❌ Folge**
>Die Überwachungskameras konnten den Vorfall wegen des plötzlichen Stromausfalls nicht aufzeichnen. 🔌💥 Die betroffenen Bereiche lagen in völliger Dunkelheit, wodurch die Vase unbeobachtet entwendet werden konnte – die Videoaufnahmen waren dadurch völlig unbrauchbar. Als der **Diebstahl um 11:30 Uhr gemeldet wurde**, blieb eine **schnelle und gründliche Kontrolle aller Besucher & Besucherinnen**, die sich zum Zeitpunkt des Diebstahls im Museum befanden, erfolglos – trotz intensiver Durchsuchung und Verhörung aller Besucher & Besucherinnen konnte die wertvolle Ming-Vase nicht gefunden werden. 🏛️❌

####**🔎 Deine Mission**
>Als Data Detective ist es deine Aufgabe, den **Tathergang bis ins Detail zu rekonstruieren** und herauszufinden, wer hinter diesem Diebstahl steckt, wie wurde der Diebstahl geplant und welche Personen sind darin involviert. Erstelle ein präzises Zeitprofil, das zeigt, wann und wie die verdächtigte Personen vorgegangen sind:

>1.   Person A betritt das Museum um 9:45
>2.   Bewegung durch das Museum (z.B. Raum A → Raum B) 📍
>3.   Schlüsselmomente des Diebstahls (Wann wurde die Vase gestohlen?)
>4.   Flucht oder Versteck der Vase 🚪

####**💡 Tipp**
>Nutze alle verfügbaren Hinweise: Zeitstempel, Bewegungsmuster der und Aktivitäten der Tatverdächtigten. Kombiniere Daten aus allen Protokollen und Logs, um ein vollständiges Bild vom Tathergang zu erstellen.

####**🔐 Dein Ziel**
>Finde den oder die TäterIn und beschreibe detailliert, wie der Diebstahl geplant und durchgeführt wurde. Beschreibe deine Vorgehensweise und Erkenntnisse anhand deiner Code-Schnipsel.

👉 Egal ob **SQL oder Python**, Du wählst dein Analyseinstrument.


## ✅ Environment einrichten


1. Python Pakete importieren 📦
2. Datenbankverbindung einrichten 🔌
3. Tabellengrundlagen erstellen und mit Daten befüllen 🔢

#####📦 Import Python Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

#####🔌 SQLite Datenbankverbindung herstellen

In [5]:
# Neues SQLite database memory
conn = sqlite3.connect(":memory:")

##### 🔢 Tabellengrundlagen erstellen und mit Daten befüllen

In [6]:
############# Tabellen erstellen #############

visitors = pd.DataFrame({
    'visitor_id': [
        'V001', 'V002', 'V003', 'V004', 'V005', 'V006', 'V007', 'V008', 'V009', 'V010',
        'V011', 'V012', 'V013', 'V014', 'V015', 'V016', 'V017', 'V018', 'V019', 'V020',
        'V021', 'V022', 'V023', 'V024', 'V025'
    ],
    'visitor_name': [
        'Michael Smith', 'Sarah Marlow', 'Harry Belafonte', 'Peter Harris', 'Karen Heights',
        'Steve Allington', 'Ines Mallus', 'John Atticks', 'Lisa Mayer', 'Robert Schopf',
        'Anja Schmoekel', 'Sebastian Bangemann', 'Vida Abbasi', 'Odilon Patrick Ogue',
        'Snezana Kostic', 'Marianna Gokova', 'Yana Yelnikova', 'Serhii Sotnichenko',
        'Mindo Siagian Kern', 'Thomas Koehler', 'Lars Petschke', 'Mahdi Aminmoghaddasi',
        'Martin Svitek', 'Konstantin Milonas', 'Roksena Ilieva'
    ],
 'ticket_type':
        ['entry + free souvenir item'] * 2 + ['entry + free drink'] * 2 + ['entry + free souvenir item'] * 3 + ['entry + free drink'] * 8 + ['entry + free souvenir item'] * 7 + ['entry + free drink'] * 3
}
)


visitor_logs = pd.DataFrame({
    'visitor_id': ['V001'] * 21+ ['V002'] * 18+ ['V003'] * 15 + ['V004'] * 14 + ['V005'] * 15 + ['V006'] * 15 + ['V007'] * 13 + ['V008'] * 14 + ['V009'] * 15 + ['V010'] * 14 + ['V011'] * 13 +  ['V012'] * 13 + ['V013'] * 13 + ['V014'] * 13 + ['V015'] * 13 + ['V016'] * 13 + ['V017'] * 13 + ['V018'] * 13 + ['V019'] * 13 + ['V020'] * 13 + ['V021'] * 13 + ['V022'] * 13 + ['V023'] * 13 + ['V024'] * 13 + ['V025'] * 13,
    'building_section': [
        #Michael Smith
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Entrance/Exit Hall', 'Gift Shop',
        'Main Hall', 'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Main Hall',
        'Restrooms', 'Main Hall', 'Main Exhibit', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Restrooms', 'Special Exhibit', 'Restrooms', 'Entrance/Exit Hall', 'Exit',
        #Sarah Marlow
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Restrooms', 'Main Exhibit', 'Main Hall', 'Gift Shop',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Harry Belafonte
         'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Peter Harris
        'Entrance', 'Entrance/Exit Hall', 'Gift Shop', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms', 'Main Hall',
        'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Karen Heights
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Steve Allington
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall',
        'Restrooms', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Exit',
        #Ines Mallus
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #John Atticks
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Gift Shop', 'Main Hall', 'Restrooms', 'Main Hall',
        'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Lisa Mayer
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Special Exhibit', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Robert Schopf
        'Entrance', 'Entrance/Exit Hall', 'Ticket Office', 'Main Hall', 'Main Exhibit',
        'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Anja Schmoekel
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Restrooms', 'Main Hall', 'Special Exhibit',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Sebastian Bangemann
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Vida Abbasi
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Odilon Patrick Ogue
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Snezana Kostic
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Gift Shop', 'Main Hall',
        'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Marianna Gokova
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Yana Yelnikova
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Serhii Sotnichenko
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Mindo Siagian Kern
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        #Thomas Koehler
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Lars Petschke
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Mahdi Aminmoghaddasi
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Martin Svitek
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # #Konstantin Milonas
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit',
        # Roksena Ilieva
        'Entrance', 'Entrance/Exit Hall', 'Main Hall', 'Main Exhibit', 'Main Hall',
        'Gift Shop', 'Main Hall', 'Special Exhibit', 'Main Hall', 'Restrooms',
        'Main Hall', 'Entrance/Exit Hall', 'Exit'
    ],
    'time_entered': [
        #Michael Smith
        '09:30 AM', '09:31 AM', '09:33 AM', '09:36 AM', '09:40 AM',
        '09:50 AM', '09:55 AM', '10:05 AM', '10:10 AM', '10:20 AM',
        '10:25 AM', '10:30 AM', '10:40 AM', '10:50 AM', '10:55 AM',
        '11:05 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:29 AM', '11:30 AM',
         #Sarah Marlow
        '9:45 AM', '9:50 AM', '9:55 AM', '10:00 AM', '10:05 AM',
        '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM',
        '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
        '11:00 AM', '11:05 AM', '11:10 AM',
        #Harry Belafonte
        '10:00 AM', '10:05 AM', '10:10 AM', '10:15 AM', '10:20 AM',
        '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM',
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        #Peter Harris
        '9:50 AM', '9:55 AM', '10:00 AM', '10:05 AM', '10:10 AM',
        '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM',
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
         #Karen Heights
        '10:05 AM', '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM',
        '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM',
        '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM',
        #Steve Allington
        '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM',
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM',
        #Ines Mallus
        '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM',
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        '11:15 AM', '11:20 AM', '11:25 AM',
        #John Atticks
        '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
        '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM',
        '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM',
        #Lisa Mayer
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM',
        '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM',
        '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM', '11:55 AM',
        #Robert Schopf
        '9:55 AM', '10:00 AM', '10:05 AM', '10:10 AM', '10:15 AM',
        '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM',
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        #Anja Schmoekel
        '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM',
        '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM',
        '11:00 AM', '11:05 AM', '11:35 AM',
        #Sebastian Bangemann
        '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM',
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM',
        '11:10 AM', '11:15 AM', '11:35 AM',
        #Vida Abbasi
        '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM',
        '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM',
        '11:20 AM', '11:25 AM', '11:35 AM',
        #Odilon Patrick Ogue
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM',
        '11:30 AM', '11:35 AM', '11:35 AM',
        #Snezana Kostic
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM',
        '11:20 AM', '11:25 AM', '11:35 AM',
        #Marianna Gokova
        '10:00 AM', '10:05 AM', '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM',
        '10:45 AM', '11:00 AM', '11:15 AM', '11:25 AM', '11:30 AM', '11:35 AM',
        #Yana Yelnikova
        '10:10 AM', '10:15 AM', '10:20 AM', '10:25 AM', '10:30 AM', '10:35 AM', '10:40 AM',
        '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:15 PM', '11:35 PM',
        #Serhii Sotnichenko
        '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM',
        '11:55 AM', '12:00 PM', '12:05 PM', '12:10 PM', '12:15 PM', '12:20 PM',
        # Mindo Siagian Kern
        '10:30 AM', '10:35 AM', '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM',
        '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM',
        # Thomas Koehler
        '10:40 AM', '10:45 AM', '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM',
        '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM',
        # Lars Petschke
        '10:50 AM', '10:55 AM', '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM',
        '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM',
        # Mahdi Aminmoghaddasi
        '11:00 AM', '11:05 AM', '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM',
        '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM', '11:55 AM', '12:00 PM',
        # Martin Svitek
        '11:10 AM', '11:15 AM', '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM',
        '11:45 AM', '11:50 AM', '11:55 AM', '12:00 PM', '12:05 PM', '12:10 PM',
        # Konstantin Milonas
        '11:20 AM', '11:25 AM', '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM',
        '11:55 AM', '12:00 PM', '12:05 PM', '12:10 PM', '12:15 PM', '12:20 PM',
        # Roksena Ilieva
        '11:30 AM', '11:35 AM', '11:40 AM', '11:45 AM', '11:50 AM', '11:55 AM', '12:00 PM',
        '12:05 PM', '12:10 PM', '12:15 PM', '12:20 PM', '12:25 PM', '12:30 PM'
    ]})

gift_shop_purchases = pd.DataFrame(
  [
    {'visitor_id': 'V001', 'purchase_time': '09:40 AM', 'Souvenir_Artikel': 'Umhaengetasche'},
    {'visitor_id': 'V002', 'purchase_time': '10:00 AM', 'Souvenir_Artikel': 'Schlüsselanhänger'},
    {'visitor_id': 'V002', 'purchase_time': '10:55 AM', 'Souvenir_Artikel': 'Magnet'},
    {'visitor_id': 'V003', 'purchase_time': '10:25 AM', 'Souvenir_Artikel': 'Schlüsselanhänger'},
    {'visitor_id': 'V004', 'purchase_time': '10:00 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V005', 'purchase_time': '10:30 AM', 'Souvenir_Artikel': 'Schlüsselanhänger'},
    {'visitor_id': 'V006', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'Notizbuch'},
    {'visitor_id': 'V007', 'purchase_time': '10:40 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V008', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V009', 'purchase_time': '11:10 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V010', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'T-Shirt'},
    {'visitor_id': 'V011', 'purchase_time': '10:25 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V012', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'Schlüsselanhänger'},
    {'visitor_id': 'V013', 'purchase_time': '10:45 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V014', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Tasse'},
    {'visitor_id': 'V015', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V016', 'purchase_time': '10:25 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V017', 'purchase_time': '10:35 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V018', 'purchase_time': '11:45 AM', 'Souvenir_Artikel': 'Schlüsselanhänger'},
    {'visitor_id': 'V019', 'purchase_time': '10:55 AM', 'Souvenir_Artikel': 'Schlüsselanhänger'},
    {'visitor_id': 'V020', 'purchase_time': '11:05 AM', 'Souvenir_Artikel': 'Tasse'},
    {'visitor_id': 'V021', 'purchase_time': '11:15 AM', 'Souvenir_Artikel': 'Postkarte'},
    {'visitor_id': 'V022', 'purchase_time': '11:25 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V023', 'purchase_time': '11:35 AM', 'Souvenir_Artikel': 'T-Shirt'},
    {'visitor_id': 'V024', 'purchase_time': '11:45 AM', 'Souvenir_Artikel': 'Buch'},
    {'visitor_id': 'V025', 'purchase_time': '11:55 AM', 'Souvenir_Artikel': 'Postkarte'}
])


employees = pd.DataFrame([
    {'employee_id': 'E001', 'employee_name': 'Klaas Heufer-Umlauf', 'Position': 'Security Guard'},
    {'employee_id': 'E002', 'employee_name': 'Micky Beisenherz', 'Position': 'Security Guard'},
    {'employee_id': 'E003', 'employee_name': 'Steven Gaetjen', 'Position': 'Security Guard'},
    {'employee_id': 'E004', 'employee_name': 'Joko Winterscheidt', 'Position': 'Security Guard'},
    {'employee_id': 'E005', 'employee_name': 'Chris Martin', 'Position': 'Security Guard'},
    {'employee_id': 'E006', 'employee_name': 'Steffen Hennssler', 'Position': 'Sales Souvenir Shop'},
    {'employee_id': 'E007', 'employee_name': 'Sandra Maischberger', 'Position': 'Ticket Sales'},
    {'employee_id': 'E008', 'employee_name': 'Felix Lobrecht', 'Position': 'Electrician'}
])


employee_shifts = pd.DataFrame({
    'employee_id': ['E001'] * 5 + ['E002'] * 5 + ['E003'] * 5 + ['E004'] * 5 + ['E005'] * 5 + ['E006'] * 5 + ['E007'] * 5+ ['E008'] * 5,
    'shift_start': [
        '09:00 AM', '10:00 AM', '11:00 AM', '01:00 PM', '02:00 PM']*8,
    'shift_end': [
        '10:00 AM', '11:00 AM', '01:00 PM', '02:00 PM', '03:00 PM']*8,
    'room_assigned': [
        'Gift Shop', 'Main Hall', 'Entrance/Exit Hall', 'Main Exhibit',  'Special Exhibit', # Klaas Heufer-Umlauf
        'Main Hall', 'Main Exhibit', 'Gift Shop', 'Special Exhibit', 'Entrance/Exit Hall', # Micky Beisenherz
        'Main Exhibit', 'Main Hall', 'Special Exhibit', 'Gift Shop', 'Main Exhibit', # Steven Gaetjen
        'Special Exhibit', 'Main Exhibit', 'Gift Shop', 'Main Hall', 'Entrance/Exit Hall',  # Joko Winterscheidt
        'Main Hall', 'Main Exhibit', 'Entrance/Exit Hall', 'Main Exhibit', 'Gift Shop', # Chris Martin
        'Gift Shop', 'Gift Shop', 'Gift Shop', 'Gift Shop', 'Gift Shop', # Steffen Hennssler'
        'Ticket Office','Ticket Office','Ticket Office','Ticket Office','Ticket Office', #Sandra Maischberger'
        'Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum','Regel- und Elektroverteilungsraum', #Felix Lobrecht'
        ]})

employee_logs = pd.DataFrame({
    'employee_id': ['E001'] * 8 + ['E002'] * 12 + ['E003'] * 18 + ['E004'] * 9 + ['E005'] * 7 + ['E006'] * 6 + ['E007'] * 6 + ['E008'] * 10,
    'building_section': [
        #Klaas Heufer-Umlauf
        'Staff Entrance/Exit', 'Staff Dressing Room','Gift Shop','Main Hall','Staff Restroom', 'Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        #Micky Beisenherz
        'Staff Entrance/Exit', 'Staff Dressing Room','Main Hall', 'Main Exhibit', 'Gift Shop','Main Hall','Staff Restroom','Main Hall','Gift Shop','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Steven Gaetjen
         'Staff Entrance/Exit', 'Staff Dressing Room', 'Main Hall', 'Main Exhibit', 'Main Hall','Regel- und Elektroverteilungsraum','Main Hall','Special Exhibit','Main Hall','Restroom','Main Hall','Staff Entrance/Exit','Main Hall','Special Exhibit', 'Main Hall','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Joko Winterscheidt
         'Staff Entrance/Exit', 'Staff Dressing Room', 'Main Hall','Special Exhibit','Main Exhibit', 'Gift Shop','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Chris Martin
        'Staff Entrance/Exit', 'Staff Dressing Room','Main Hall', 'Main Exhibit', 'Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        # Steffen Hennssler'
        'Staff Entrance/Exit', 'Staff Dressing Room', 'Gift Shop','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        #Sandra Maischberger'
        'Staff Entrance/Exit', 'Staff Dressing Room', 'Ticket Office','Entrance/Exit Hall','Staff Dressing Room','Staff Entrance/Exit',
        #Felix Lobrecht'
        'Staff Entrance/Exit', 'Staff Dressing Room','Regel- und Elektroverteilungsraum', 'Main Hall', 'Staff Restroom','Regel- und Elektroverteilungsraum','Entrance/Exit Hall','Regel- und Elektroverteilungsraum','Staff Dressing Room','Staff Entrance/Exit',
    ],
    'time_entered': [
        #Klaas Heufer-Umlauf
         '08:30 AM', '08:31 AM','08:50 AM','10:00 AM','10:55 AM', '11:00 AM','03:30 PM', '03:40 PM',
        #Micky Beisenherz
        '08:30 AM', '08:31 AM','08:50 AM', '10:00 AM', '11:00 AM','11:15 AM','11:17 AM','11:20 AM','11:25 AM','11:35 AM','03:30 PM', '03:40 PM',
        # Steven Gaetjen
        '08:30 AM', '08:31 AM', '08:50 AM', '08:51 AM', '10:40 AM','10:45 AM','10:50 AM','11:00 AM','11:14 AM','11:15 AM','11:25 AM','11:27 AM','11:30 AM','11:31 AM','11:33 AM','11:35 AM','03:30 PM', '03:40 PM',
        # Joko Winterscheidt
        '08:30 AM', '08:31 AM', '08:50 AM', '08:51 AM','10:00 AM', '11:00 AM', '11:35 AM','03:30 PM', '03:40 PM',
        # Chris Martin
         '08:30 AM', '08:31 AM', '08:50 AM','10:00 AM', '11:00 AM','03:30 PM', '03:40 PM',
        # Steffen Hennssler'
        '08:30 AM', '08:31 AM', '08:50 AM', '11:35 AM','03:30 PM', '03:40 PM',
        #Sandra Maischberger'
         '08:30 AM', '08:31 AM', '08:50 AM', '11:35 AM','03:30 PM', '03:40 PM',
        #Felix Lobrecht'
        '08:00 AM', '08:02 AM', '08:10 AM','10:39 AM', '10:41 AM', '10:53 AM', '11:59 AM', '12:30 PM','03:30 PM', '03:40 PM'
    ]})

witness_statements = pd.DataFrame({'visitor_id': [
  'V001',
  'V006',
  'V007',
  'V009',
  'V013',
  'V014',
  'V015',
  'V019',
  'V021',
  'V022'],
 'aussage_script': [
  'Ich sah jemanden schnell aus dem Notausgang laufen.',
  'Eine Person im grauen Mantel schien nervös zu sein.',
  'Der Museumsmitarbeiter war anfangs am Eingang, verschwand dann.',
  'Die Sicherheitskameras hatten rote Kontrollleuchten.',
  'Ich habe ein Klirren aus dem hinteren Teil der Ausstellung gehört.',
  'Jemand hat mit einem Museumsmitarbeiter in einem anderen Bereich des Musuems heftig diskutiert.',
  'Eine Fluchttür war offen, obwohl sie normalerweise geschlossen ist.',
  'Ein Kind weinte, weil es seine in der Dunkelheit nicht finden konnte.',
  'Ein Besucher versuchte ein Objekt ohne Erlaubnis zu berühren.',
  'Ich sah eine Person mit einer großen Tasche aus dem Bereich kommen, wo die Ming-Vase stand.']})

# Time_logs in datetime konvertieren
visitor_logs['time_entered'] = pd.to_datetime('2025-08-01 ' + visitor_logs['time_entered'], format='%Y-%m-%d %I:%M %p')
employee_shifts['shift_start'] = pd.to_datetime('2025-08-01 ' + employee_shifts['shift_start'], format='%Y-%m-%d %I:%M %p')
employee_shifts['shift_end'] = pd.to_datetime('2025-08-01 ' + employee_shifts['shift_end'], format='%Y-%m-%d %I:%M %p')
employee_logs['time_entered'] = pd.to_datetime('2025-08-01 ' + employee_logs['time_entered'], format='%Y-%m-%d %I:%M %p')


# DB Tables in SQLite
visitors.to_sql('visitors', conn, index=False, if_exists='replace')
visitor_logs.to_sql('visitor_logs', conn, index=False, if_exists='replace')
gift_shop_purchases.to_sql('gift_shop_purchases', conn, index=False, if_exists='replace')
employee_shifts.to_sql('employee_shifts', conn, index=False, if_exists='replace')
employee_logs.to_sql('employee_logs', conn, index=False, if_exists='replace')
employees.to_sql('employees', conn, index=False, if_exists='replace')
witness_statements.to_sql('witness_statements', conn, index=False, if_exists='replace')

10

## 🧩 Übersicht Tabellen

| **Tabelle**            | **Beschreibung**                                                                                                          |
|-----------------------|----------------------------------------------------------------------------------------------------------------------------|
| **visitors**           | Enthält Informationen über die Besucher des Museums, einschließlich der Besucher-ID (`visitor_id`), ihres Namens und des Ticket-Typs, z. B. mit freien Souvenirs. |
| **visitor_logs**       | Zeichnet die Bewegungen der Besucher innerhalb des Museums auf, einschließlich der betretenen Bereiche (`building_section`) und Zeitstempel (`time_entered`).    |
| **gift_shop_purchases**| Dokumentiert Käufe im Souvenirshop, einschließlich der Besucher-ID (`visitor_id`), der gekauften Artikel (`Souvenir_Artikel`) und der Kaufzeit (`purchase_time`).                                |
| **employees**          | Beinhaltet Informationen über die Mitarbeiter, wie die Mitarbeiter-ID (`employee_id`), den Namen und die zugewiesene Position im Museum.                         |
| **employee_shifts**    | Verzeichnet die Arbeitszeiten der Mitarbeiter, einschließlich Beginn (`shift_start`), Ende (`shift_end`) und der zugewiesenen Räume (`room_assigned`).            |
| **employee_logs**      | Protokolliert die Bewegungen der Mitarbeiter innerhalb des Museums, mit Einträgen zu den betretenen Bereichen und den Zeitpunkten (`time_entered`).              |
| **witness_statements** | Enthält Aussagen von Zeugen im Zusammenhang mit Vorfällen im Museum. Jede Aussage ist einer bestimmten Besucher-ID (`visitor_id`) zugeordnet.


## 🔍 1. Wer war zur Tatzeit am Tatort?

###SQL Query ✍️

In [7]:
query_1 = '''

--👉 Dein SQL Query hier

'''
result_1 = pd.read_sql_query(query_1, conn)
result_1

TypeError: 'NoneType' object is not iterable

###Python Code 🐍

In [ ]:
#Dein Python Code hier 🐍

###⚠️ Hinweis (bitte nur ausklappen, wenn nötig!)

🔍 Erster Hinweis:
> Nicht jeder Besucher oder Besucherin war zur Tatzeit in der Nähe der Ming-Vase. Finde heraus, wer sich zwischen 11:19 und 11:30 Uhr im Sonderausstellungsbereich (Special Exhibit) aufgehalten hat. 🕵️‍♂️👀


## 2. 👣 Verfolgen wir die Spuren und Aussagen der verdächtigen Personen

###SQL Query ✍️

In [10]:
query_2 = '''

--👉 Dein SQL Query hier

'''
result_2 = pd.read_sql_query(query_2, conn)
result_2

TypeError: 'NoneType' object is not iterable

###Python Code 🐍

In [11]:
#Dein Python Code hier 🐍

###⚠️ Hinweis (bitte nur ausklappen, wenn nötig!)

🔍 Zweiter Hinweis:
> Gut gemacht, Data Detective! Du hast nun mehrere Tatverdächtige identifiziert. Aber der Dieb könnte klug und strategisch vorgegangen sein. 🕵️‍♂️ Überprüfe die Bewegungsmuster der Verdächtigen im Museum. Gibt es Hinweise darauf, dass jemand die Vase geschickt versteckt oder unauffällig transportiert haben könnte? Vielleicht liefern dir Zeugenaussagen oder auffällige Stopps in bestimmten Räumen einen entscheidenden Hinweis. 👀🔑


## 3. 🕶️ Wie wurde die Vase ungesehen aus dem Ausstellungsbereich transportiert?

###SQL Query ✍️

In [8]:
query_3 = '''

--👉 Dein SQL Query hier

'''
result_3 = pd.read_sql_query(query_3, conn)
result_3

TypeError: 'NoneType' object is not iterable

###Python Code 🐍

In [9]:
#Dein Python Code hier 🐍

###⚠️ Hinweis (bitte nur ausklappen, wenn nötig!)

🔍 Dritter Hinweis:
> Du bist auf der richtigen Spur! 🚶‍♂️👜 Es besteht der Verdacht, dass der Dieb die Ming-Vase in einer Tasche aus dem Sonderausstellungsbereich geschmuggelt hat. Überprüfe die Verdächtigen daraufhin, ob sie etwas gekauft oder mitgebracht haben, das zum Verstecken der Vase geeignet sein könnte. 🕵️‍♂️


## 4. 🏺 Wo wurde die Vase deponiert?

###SQL Query ✍️

In [12]:
query_4 = '''

--👉 Dein SQL Query hier

'''
result_4 = pd.read_sql_query(query_4, conn)
result_4

TypeError: 'NoneType' object is not iterable

###Python Code 🐍

In [14]:
#Dein Python Code hier 🐍

###⚠️ Hinweis (bitte nur ausklappen, wenn nötig!)

🔍 Vierter Hinweis::
>Sehr gut, du hast einen Hauptverdächtigen im Blick! 👀 Aber wohin ist er nach dem Diebstahl gegangen? Verfolge die Bewegungen des Verdächtigen im Museum. 🏛️ Gibt es Hinweise darauf, dass er die Vase in einem weniger überwachten Bereich oder einem Raum deponiert haben könnte?


## 5. 👥 Wie konnte die Vase aus dem Gebäude geschafft werden? Komplizen?

###SQL Query ✍️

In [15]:
query_5 = '''

--👉 Dein SQL Query hier

'''
result_5 = pd.read_sql_query(query_5, conn)
result_5

TypeError: 'NoneType' object is not iterable

###Python Code 🐍

In [16]:
#Dein Python Code hier 🐍

###⚠️ Hinweis (bitte nur ausklappen, wenn nötig!)

🔍 Fünfter Hinweis:
>Sehr spannend! 🕵️‍♂️ Es scheint, als hätte der Verdächtige die Vase in der Besuchertoilette zwischengelagert. 🚻 Aber wie konnte die Beute von dort verschwinden? Es ist wahrscheinlich, dass der Täter einen Komplizen hatte. 👥 Überprüfe die Zeugenaussagen erneut, um hier Licht ins Dunkle zu bringen?


## 6. 🔌 Wie hat der Komplize den Diebstahl vorbereitet?

###SQL Query ✍️

In [17]:
query_6 = '''

--👉 Dein SQL Query hier

'''
result_6 = pd.read_sql_query(query_6, conn)
result_6

TypeError: 'NoneType' object is not iterable

###Python Code 🐍

In [18]:
#Dein Python Code hier 🐍

###⚠️ Hinweis (bitte nur ausklappen, wenn nötig!)

🔍 Sechster Hinweis:
>Du hast herausgefunden, dass Mitarbeiter Nummer 1 zur Überwachung des Sonderausstellungsbereiches eingeteilt war und sich zeitgleich mit dem Hauptverdächtigen auf der Besuchertoilette befand, als dieser dort vermutlich die Vase deponiert hat. 🚻🏺 Der Mitarbeiter, der den Bereich eigentlich überwachen sollte, war während des Diebstahls jedoch nicht anwesend – ein schwerwiegendes Detail.

Es ist wahrscheinlich, dass er die Vase durch den Staff-Ausgang unbemerkt aus dem Gebäude geschmuggelt hat. 🚪🕵️ Aber die entscheidende Frage bleibt: Wie hängt der Stromausfall damit zusammen? 🔌💥 War er gezielt geplant, um die Überwachung zu umgehen? Vielleicht liefert dir die Analyse des Stromausfalls und der Mitarbeiteraktivitäten den letzten, entscheidenden Hinweis. 🔍

##🎉 **Du hast es geschafft!** 🎉  

🔎 Du hast den **Dieb und seine Komplizen** entlarvt! Jetzt ist es an der Zeit, den finalen Beweis zu liefern.  

📄 **Erstelle eine TXT-Datei** mit dem **genauen Ablauf des Tathergangs**, inklusive **Timestamps**, und lade sie per **Merge Request** in folgendes Repository hoch: https://github.com/nicomasterschool/Data-Detective-Challenge

📌 **Was muss in die Datei?**  
✅ Dein **Name**  
✅ Das **Skript zur Lösung der Challenge**  
✅ Die **rekonstruierte Tat mit allen relevanten Zeitpunkten**  

🚀 Lade die Datei hoch und schließe die Challenge offiziell ab! 🎩✨